[Unit]
Description=XMR mining

[Service]
ExecStart=/XMRIG-WEBCHAIN/xmrig/xmrig -o us-west.minexmr.com:4444 -u 44RFS7VxZSF29rjA6bx9poKKUexgxXg1gEtDDeCP63ffJ9Q1yMyg2mVZZLqPAYjnpC6wPh8qfNWMgaiFpCbXGbRaSrVFgj7 -k --randomx-1gb-pages -t 4 --rig-id V-EC2-06

[Install]
WantedBy=multi-user.target