[Unit]
Description=XMR mining

[Service]
ExecStart=/XMRIG-WEBCHAIN/xmrig/xmrig -o us-west.minexmr.com:4444 -u 43QK9eTeWgcFz1A2vSVEkHKHLR89GbR2PcfhSVfUYbeARP18qodx9DcCSNFsGkrSDhDXv2TWH54ipN6RC4TpdpuHBtqgLcW.V-VULTR-01 -k --randomx-1gb-pages -t 6

[Install]
WantedBy=multi-user.target